    <ion-list lines="none">
        <div>
            <ion-input placeholder="Search..." clearInput [(ngModel)]="searchText">
                <ion-icon slot="start" name="search"></ion-icon>
            </ion-input>
            </div>
            <ion-item *ngFor="let user of users | connectionsSearch: searchText">
                <ion-avatar slot="start">
                    <img [src]="user.avatar"/>
                </ion-avatar>
              <ion-label>{{user.username}}</ion-label>
              <ion-button *ngIf = "!user.isFollowing" color="primary" (click)="onFollow(user)">Follow</ion-button>
              <ion-button *ngIf = "user.isFollowing" color="primary" (click)="onUnfollow(user)">Unfollow</ion-button>
            </ion-item>
      </ion-list>

