<ion-header>
  <ion-toolbar style="border:none">
    <ion-title>Profile</ion-title>
    <ion-icon size = "large" slot="start" name="arrow-back" (click)="goBack()"></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <div *ngIf = "!loading && !error && profile" class="profile-container">
    <div class="profile-username">{{profile.username}}</div>

    <div class="avatar-container">
      <ion-avatar>
        <img [src]="profile.avatar"/>
      </ion-avatar>
    </div>
    

    <div style="margin-top:20px">
      <ion-button fill="outline" (click)="goToEditProfile()">Edit Profile</ion-button>

      <p><strong>Rank</strong> <br/>{{profile.role}}</p>

        <div style="display:flex; justify-content: center;">
          <div style="flex:1">
            <strong>{{profile.following}}</strong><br/>
            <span class="text-grey text-small">Following</span>
          </div>
          <div style="flex:1">
            <strong>{{profile.followers}}</strong><br/>
            <span class="text-grey text-small">Followers</span>
          </div>
        </div>
        <br/>
        <div style="display:flex; justify-content: center;">
          <div style="flex:1">
            <span class="text-red text-small">Posts</span><br/>
            {{profile.posts}}
          </div>
          <div style="flex:1">
            <span class="text-red text-small">Votes Received</span><br/>
            {{profile.receivedVotesOn}}
          </div>

          <div style="flex:1">
            <span class="text-red text-small">Voted On</span><br/>
            {{profile.votedOn}}
          </div>
        </div>
    </div>  
  </div>

  <div *ngIf="!loading && error" class="profile-container">
    An error occured, please try again in a bit
  </div>
</ion-content>
