<ion-header>
  <ion-toolbar style="border:none">
    <ion-title>Profile</ion-title>
    <ion-icon size = "large" slot="start" name="arrow-back" (click)="goBack()"></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <div *ngIf = "!loading && !error && profile" class="profile-container">
    <div class="profile-username">{{profile.username}}</div>

    <div>
      <img [src]="profile.avatar | safe"/>
    </div>

    <div>
      <p>Rank: {{profile.role}}</p>
      <p>Following: {{profile.following}}</p>
      <p>Followers: {{profile.followers}}</p>
      <p>Posts: {{profile.posts}}</p>
      <p>Voted on: {{profile.votedOn}}</p>
      <p>Recieved votes on: {{profile.receivedVotesOn}}</p>
    </div>  

    <ion-button expand="block" fill="outline" (click)="goToEditProfile()">Edit Profile</ion-button>

  </div>

  <div *ngIf="!loading && error" class="profile-container">
    An error occured, please try again in a bit
  </div>
</ion-content>
