<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <div *ngIf = "NoChilivotes" class="message">No Chilivotes to show</div>
  <app-chilivotes-tab *ngIf="currentChilivote"
   [currentChilivote] = "currentChilivote"
   [votable]="true"
   [followEnabled]="true"
   (voted)="vote($event)"
   ></app-chilivotes-tab>
</ion-content>


<!-- <ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <div *ngIf = "NoChilivotes" class="message">No Chilivotes to show</div>
  <div *ngIf="currentChilivote" [@slideInOut]>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <h3>{{currentChilivote.username}}</h3>
            <p>{{currentChilivote.created_at | date: 'short'}}</p>
          </ion-label>
        </ion-item>
        <ion-card-title>{{currentChilivote.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row style="background-color:black" class="ion-align-items-center ion-justify-content-center">
            <ion-col style="background-color:black" class="align-self-stretch"
              (click)="vote(currentChilivote.answerLeft, currentChilivote.answerRight)">
              <div style="position:relative;text-align:center; display: flex; align-items: center">
                <cl-image style="max-width:100%;" [class.voted_image]="currentChilivote.answerLeft.voted" class=""
                  public-id="{{currentChilivote.answerLeft.url}}" secure="true">
                </cl-image>
                <div *ngIf="showVotes"
                  style="background-color: black; opacity: 0.5; color:white;position:absolute;text-align: center;width:100%;height:100%;top:0; display: flex; align-items: center; justify-content: center">
                  <ion-icon *ngIf="currentChilivote.answerLeft.voted" name="checkmark"></ion-icon>
                  <span *ngIf="showVotes">Votes: {{currentChilivote.answerLeft.votes}}</span>
                </div>
              </div>
            </ion-col>
            <ion-col style="background-color:black" (click)="vote(currentChilivote.answerRight, currentChilivote.answerLeft)">
              <div style="position:relative;text-align:center; display: flex; align-items: center">
                <cl-image style="max-width:100%" [class.voted_image]="currentChilivote.answerRight.voted"
                  public-id="{{currentChilivote.answerRight.url}}" secure="true">
                </cl-image>
                <div *ngIf="showVotes"
                  style="background-color: black; opacity: 0.5; color:white;position:absolute;text-align: center;width:100%;height:100%;top:0; display: flex; align-items: center; justify-content: center">
                  <ion-icon *ngIf="currentChilivote.answerRight.voted" name="checkmark"></ion-icon>
                  <span *ngIf="showVotes">Votes: {{currentChilivote.answerRight.votes}}</span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> -->