.background{
    --background: url(../../../assets/images/bubbles.jpg) no-repeat center center / cover;
}

.width-90{
    width:90%;
}

.login-container{
    background-color: white;
    text-align: center; 
    border-radius: 4px;
    margin: 10px;
    margin-top: 20%;
    padding:10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    opacity: .8;
    font-size: smaller;
}

.logo-container{
    text-align: center; 
    margin: 10px;
    padding:10px;
    color: red;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 1;
}

.moto{
    color: #8b2133;
}