<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  

  <div class="login-container">
    <div class="logo-container">
      <div class="chilivote">Chilivote</div>
      <div class="moto">Together we choose the best for us</div>
      <div class="logo"></div>
    </div>
    <ion-button expand="full" color="primary" (click)="fbLogin()">
      Login with
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>  
    <br>
    -- or --

    <form [formGroup]="loginForm" (ngSubmit)="emailLogin()">
      <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input id="email" required formControlName="email"></ion-input>
        
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input id="password" required formControlName="password" type="password"></ion-input>
      </ion-item>
  
      <ion-button expand="full" color="light" type="submit" [disabled]="!loginForm.valid">
        Login
      </ion-button>  
    </form>
    <br>
    New to chilivote? <a routerLink="/register">Register!</a>
  </div>
</ion-content>