  <ion-header>
      <ion-toolbar class="padding-right-1">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start">Chilivote</ion-title>
        
          <ion-icon size = "large" slot="end" name="search" (click)="goToSearch()"></ion-icon>
          <ion-badge *ngIf = "notificationsCount" slot="end" color="primary" style="position: relative; margin-right: -1em;margin-top: -1em;">
            {{notificationsCount}}
          </ion-badge>
          <ion-icon size = "large" slot="end" name="notifications-outline" (click)="presentPopover($event)"></ion-icon>
          <ion-icon size = "large" slot="end" name="contact" (click)="goToProfile()"></ion-icon>
      </ion-toolbar>
    </ion-header>
