<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-icon size = "large" slot="start" name="arrow-back" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <div *ngIf = "!loading && !error" class="profile-container">
    <ion-item>
      <ion-label position="floating">Your name</ion-label>
      <ion-input [(ngModel)] = "profile.username" name="username"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col class="text-align-center">
          <cl-image *ngIf="profile" public-id="{{profile.avatar}}" (click)="openBottomSheet()"></cl-image>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col class="text-align-center">
          <ion-button expand="block" fill="outline" (click)="update()">Update</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <input id="PhotoUploader" style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>

  <div *ngIf="!loading && error" class="profile-container">
    An error occured, please try again in a bit
  </div>
</ion-content>
