<div *ngIf="chilivotes && chilivotes.length != 0">
  <ion-card class="welcome-card" *ngFor="let chilivote of chilivotes">
    <ion-card-header>
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col size="7" class="no-padding pull-left">
            <ion-item lines="none" class="ion-no-padding"> 
              <ion-avatar slot="start">
                <img src="{{chilivote.avatar}}">
              </ion-avatar>
              <ion-label>
                <h3>{{chilivote.username}}</h3>
                <p>{{chilivote.created_at | date: 'short'}}</p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="5" class="pull-right">
            <div>
              <ion-icon name="more" size="large" (click)="presentPopover($event, chilivote)"></ion-icon>
              
              <ng-container *ngIf="followEnabled">
    
                <div>
                    <ion-button style="text-transform: none" size="small" *ngIf = "!chilivote.isFollowing" color="primary" (click)="onFollow(chilivote)">Follow</ion-button>
                    <ion-button style="text-transform: none" size="small" *ngIf = "chilivote.isFollowing" color="primary" (click)="onUnfollow(chilivote)">Unfollow</ion-button>
                  </div>
                </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr> 
      <!-- <ion-card-title>{{chilivote.title}}</ion-card-title> -->
      <div class="card-header">{{chilivote.title}}</div>
     
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row style="background-color:black" class="ion-align-items-center ion-justify-content-center">
          <ion-col style="background-color:black" class="align-self-stretch" 
          (click)="vote(chilivote.answerLeft, chilivote.answerRight, chilivote)">
            <div style="position:relative;text-align:center; display: flex; align-items: center">
              <cl-image style="max-width:100%;" [class.voted_image]="chilivote.answerLeft.voted" class=""
                public-id="{{chilivote.answerLeft.url}}" secure="true">
              </cl-image>
              <div *ngIf="votable && chilivote.answerLeft.voted"
                    style="background-color: black; opacity: 0.5; color:white;position:absolute;text-align: center;width:100%;height:100%;top:0; display: flex; align-items: center; justify-content: center">
                    <ion-icon name="checkmark"></ion-icon>
                  </div>
            </div>
          </ion-col>
          <ion-col style="background-color:black" 
          (click)="vote(chilivote.answerRight, chilivote.answerLeft, chilivote)">
            <div style="position:relative;text-align:center; display: flex; align-items: center">
              <cl-image style="max-width:100%" [class.voted_image]="chilivote.answerRight.voted"
                public-id="{{chilivote.answerRight.url}}" secure="true">
              </cl-image>
              <div *ngIf="votable && chilivote.answerRight.voted"
                    style="background-color: black; opacity: 0.5; color:white;position:absolute;text-align: center;width:100%;height:100%;top:0; display: flex; align-items: center; justify-content: center">
                    <ion-icon name="checkmark"></ion-icon>
                  </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="showVotesAtAllTimes || votesTracker[chilivote.id]">
          <div style="width:50%; float:left;text-align: center"><strong>Votes:</strong> {{chilivote.answerLeft.votes}}</div>
          <div style="width:50%; float:right;text-align: center"><strong>Votes:</strong> {{chilivote.answerRight.votes}}</div>
      </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
</div>