.card-header{
    color:black;
    font-size: small;
    margin-top:1em;
}

.pull-right{
    text-align: right;
}

.pull-left{
    text-align: left;
}

hr {background: gray;}

.no-padding{
    padding:0;
}

.no-left-margin{
    margin-left: 0;
}

.welcome-card{
    margin-right: 0;
    margin-left: 0;
}

ion-card-header{
    padding:5px;
}